/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


html, body{
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
    "header header header"
    "left-sidebar main-content right-sidebar"
    "footer footer footer";

  /* height: 90%;   */
  /* Setting height to xx% will allow component sizes to enlarge or shrink as the viewport's size changes.
     However, when the viewport gets too small, the header's height will maintain to be: 
     height of <h1> + margin == 90px, because of flexbox characteristics;
     whereas only the rest of the height  (i.e. height_grid-container - height_header) 
     will be distributed to rest of the two rows with 4:1 ratio.
    */      
}


.grid-item {
  background-color: #f2b0a5;
  border: white solid 5px;
}

#header {
  /* Grid item properties*/
  grid-area: header;

  /* Flex container properties*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#left-sidebar {
  grid-area: left-sidebar;
}

#main-content {
  /* Grid item properties*/
  grid-area: main-content;

  /* Flex container properties*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-sidebar {
  grid-area: right-sidebar;
}

#footer {
  grid-area: footer;
}

#box {
  height: 60px;
  width: 60px;
  background-color: #d57056;
  transition: 500ms;
}

#box:hover {
  background-color: #751a2c;
  height: 120px;
  width: 120px;
} 